<h1>Who would you like a quote from?</h1>

<%= form_tag do %>
  <%= select_tag "person", options_for_select(["Albert Einstein", "Victor Wooten", "Benjamin Franklin"], @person) %>
  <%= submit_tag %>
<% end %>

<p>“<%= @quote %>” - <%= @person %></p>
