<h1>Inspiration Machine</h1>

<%= form_tag do %>
  <%= select_tag "person", options_for_select(@options, @person) %>
  <%= submit_tag "Wisdom"%>
<% end %>

<p>“<%= @quote %>”</p>
<p>- <%= @person %></p>
<%= image_tag(@picture) %>
